!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShiftSwapper
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.navbar.navbar-expand-lg.bg-primary.text-blue
    #main
      - if flash[:notice]
        %div.alert.alert-danger.myFlashMsgDiv
          #notice.message= flash[:notice]
      - elsif flash[:warning]
        %div.alert.alert-danger
          #warning.message= flash[:warning]
      = yield
