%h3 New User Registration


= form_tag users_path do

  = label :fname, :title, 'First Name'
  = text_field :user, 'fname'
  %br
  = label :lname, :title, 'Last Name'
  = text_field :user, 'lname'
  %br
  = label :uname, :title, 'Username'
  = text_field :user, 'uname'
  %br
  = label :pwd, :title, 'Password'
  = password_field :user, 'pwd'
  %br
  = label :email, :title, 'E-Mail Address'
  = text_field :user, 'email'
  %br
  = label :dh, :dininghalls, 'Dining Hall'
  = select :user, :dininghalls, ['Chenango','HillSide','MarketPlace','Hinman','CIW']
  %br
  %br
  %br
  %br
  = submit_tag 'Submit & Create Profile'
